@charset "utf-8";

body {
    background: #DDD;
    font: 13px normal Helvetica, Arial, sans-serif;
}

em {
    background: rgba(39, 40, 34, 0.9);
    border-radius: 4px;
    color: #A6E22E;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    display: inline-block;
    padding: 0 3px;
}

p a {
    color: #7C07A9;
    text-decoration: underline;
}

p a:hover {
    text-decoration: none;
}

pre code {
    overflow: auto;
}

#sidebar::-webkit-scrollbar,
pre code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#sidebar::-webkit-scrollbar-track,
pre code::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3);
}

#sidebar::-webkit-scrollbar-thumb,
pre code::-webkit-scrollbar-thumb {
    background: rgba(255,2555,255,0.3);
    border-radius: 5px;
}

#sidebar {
    background: #272822;
    border-right: 10px solid #272822;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
}

#sidebar a {
    display: block;
    color: #DDD;
    text-decoration: none;
    padding: 5px;
}

#sidebar a:hover {
    color: #A6E22E;
}

#sidebar a.top {
    background: #A6E22E;
    color: #272822;
    margin-top: 10px;
    font-weight: bold;
    padding: 8px;
}

#content {
    margin-left: 230px;
}

#content h1,
#content h2 {
    position: relative;
}

#content h1 a,
#content h2 a {
    color: #272822;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
}

#content h2 a {
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

#content h1 a:hover:before,
#content h2 a:hover:before {
    content: '¶ ';
    position: absolute;
    left: -18px;
}

#content h2 a:hover:before {
    left: -14px;
}


@media all and (max-width: 400px) {

    #sidebar {
        display: none;
    }

    #content {
        margin-left: 0;
    }

}

